body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
    color: #444;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* Estilo para o cabeçalho */
header {
    background-color: #004aad;
    color: #fff;
    text-align: center;
    padding: 1.5em 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2.8em;
    letter-spacing: 2px;
}

header h2 {
    margin: 0;
    font-size: 1.6em;
    font-weight: 300;
    color: #dcdcdc;
}

header p {
    margin: 1em 0 2em;
    font-size: 1.2em;
    color: #e6e6e6;
}

/* Estilo para as seções */
section {
    padding: 2em;
    background-color: #fff;
    margin: 2em auto;
    max-width: 900px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

section:hover {
    transform: translateY(-5px);
}

/* Estilo para os títulos das seções */
h3 {
    border-bottom: 3px solid #004aad;
    padding-bottom: 0.5em;
    margin-bottom: 1.5em;
    font-size: 1.8em;
    color: #004aad;
    text-transform: uppercase;
}

/* Estilo para listas */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin: 0.5em 0;
    padding: 0.5em;
    background-color: #f8f9fa;
    border-left: 5px solid #004aad;
    transition: background-color 0.3s ease;
}

ul li:hover {
    background-color: #e9ecef;
}

/* Estilo para links */
a {
    color: #004aad;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover {
    color: #002a6f;
}

/* Estilo para o rodapé */
footer {
    background-color: #004aad;
    color: #fff;
    text-align:
